main {
  background-image: url(../image/fond_site.png);
}
body{ 
  background-image: url("../image/fond_site.png");
       background-repeat: no-repeat;
       background-size:cover;
       background-size: 101%;
       
 }

 @font-face {
  font-family: 'Wicked steam';
  src: url('/police/Wicked Steam.ttf');
  ;
}

.easteregg {
  color: white;
  font-size: 20px;
  text-align: center;
  
}

.eastereggh1 {
  color: white;
  text-align: center;
}

.imgSOTF {
  width: 1000px;
  margin-left: 14%;
}
