main {
  background-image: url(../image/fond\ de\ the\ forest.jpg);
}
body{ 
  background-image: url("../image/Fonddusite.png");
       background-repeat: no-repeat;
       background-size:cover;
       background-size: 101%;
       
 }
 .card {
  background-image: url(../image/sons\ of\ the\ forest.jpg);
  background-repeat: no-repeat;
  background-color: black;
  width: 700px;
  height: 2000px;
  margin-left: 770px;
  
 }