@font-face {
    font-family: 'Quicksand';
    src: url('/Quicksand-Bold.ttf');
    src: url('/Quicksand-VariableFont_wght.ttf');
}
footer { 
    font-family: 'Quicksand';
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    background-image: url(../img/fond_du_site.PNG) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

