@font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand-Bold.ttf');
  src: url('/Quicksand-VariableFont_wght.ttf');

}

h1{color: rgb(15, 131, 239);
  display: flex;
  justify-content: center
;}

body{background-color: grey;
  background-size: 150%;
}

.logo{display: flex;
margin-left: right;
position: absolute;
}


body {display: flex;
flex-direction: column;
background-image: image-set(src="../img/fond du site.PNG" alt="cc");
background-image: url("../image/fond_site.png");
background-repeat: no-repeat;
background-size: cover
};


ul{color: azure;}

header{background-color: rgb(0, 0, 0);
  background-attachment: fixed;
  border-radius: px;
}

body{box-sizing: border-box}


.tab {
float: left;
border: 15px solid #ffffff;
background-color: #ffffff;
width: 19%;
height: 1497px;
background-position-y: 100%;
background-position-x: 60%;
}


.tab button  {
display: block;
background-color: inherit;
color: rgb(6, 5, 5);
padding: 49px 55px;
width: 105%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
}


.tab button:hover {
background-color: #606060;

}


.tab button.active {
background-color: #8a8a8a;
}



.insta{
  display: flex;

  justify-content: space-between;


}


h2{
text-align: center;
}

footer { 

  font-family: 'Quicksand';
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-image: url(../img/fond_du_site.PNG) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}
a{
  text-decoration: none;
}
