/* body{box-sizing: border-box} */


.tab {
  
  float: left;
  border: 6px solid #000000;
  background-color: #605f5f;
  width: 19%;
  height: 2500px;
  /* background-position-y: 100%;
  background-position-x: 60%; */
}


.tab button  {
  display: block;
  background-color: inherit;
  color: rgb(6, 5, 5);
  padding: 49px 55px;
  width: 105%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #606060;
  
}


.tab button.active {
  background-color: #8a8a8a;
}



