body{
    background-image: url(fond\ du\ site.PNG);
    margin: 0;
    background-size:1375px ;
    padding: 200px 

    }
    main{
        background-color: rgb(75, 71, 77);
        margin-left: auto;
        margin-right: auto;
        padding: 10px;}
    header{
        color: #4032b9;
        background-color: rgb(34, 31, 31);
        padding-left: 10px;
        padding-right: 10px;
       
       
    }
    .header-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #log1{
        clip-path: ellipse(50% 50%);/*portrai*/
        /*clip-path:ellipse(33% 50%);paysage*/
    }
    







